{% extends "../layouts/base.html" %}

{% block content %}

<h1 style="font-size: 45px; text-align: center;">Polls</h1>
<div class="questions">
    {% if questions %}
    <ul class="list_ul">
        {% for question in questions %}
        <li><a style="text-decoration: none; color: #131a35;" href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
</div>
{% endblock content %}
